streamlit
pandas
plotly
opencv-python
tf-keras
deepface
mediapipe
agno
openai
requests
librosa
python-dotenv
moviepy
faster-whisper
fastapi
uvicorn
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability