streamlit
langchain-google-genai
langchain-chroma
langchain-community
langchain-core
chromadb
sentence-transformers
PyPDF2
python-dotenv
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
